.navbar li{
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    background: rgb(0, 0, 0);
    padding: 20px;
    position:relative;
    left:1100px;
    cursor:pointer;
    border-radius: 3px;
}
.nav-link{
    color:green;
    text-decoration-line: underline;
} 
.navbar-brand{
    position: fixed;
}
.navbar-toggler{
    position:relative;
    left:500px;
}
.dropdown-menu{
    background-color:rgb(0, 0, 0);
}
.dropdown-item{
    color:red;
}
body{
    background-color:lightgreen;
}
.container-fluid{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.column-md-8{
    display:flex;
    flex-flow:row;
    align-items: flex-end;
}
.table-response-lg{
    text-align: center;
}
table,tr,td,th{
    padding: 10px;
    border: 1px solid black;
    background-color: antiquewhite;
    color:red;
}
@media(max-width: 992px) {
    .container {
      text-align: center;
    }
    .navbar-li{
    background-color: rgb(199, 137, 23);
    }
    .navbar {
      max-height: none;
      padding: inherit;
    }
    .navbar-items{
      margin: inherit;
      background-color: rgb(19, 185, 61);
    }
    .navbar-brand {
      padding: 10px;
    }
}